typing-extensions
langchain-experimental
pandas
yfinance
praw
feedparser
stockstats
eodhd
langgraph
chromadb
setuptools
backtrader
finnhub-python
parsel
requests
tqdm
pytz
rich
questionary
langchain-google-genai
